#all{
    overflow: hidden;
    border: solid 8px;
    font-size: 20px;
    

}
.header{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    


}
.image{
    display: block;   
    margin-top: 5%;
     width: 50%; 
    border-radius:50px ; 
    background-color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
 #image1{
   display: flex;
   justify-content: space-between;  
   
}
.image2{
    display: flex;
    justify-content: space-between;


    
}
.images3{
    display: flex;
    justify-content: space-between;
}
.images4{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: white;
    border: 1px;

}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}
